body {
    font: 14px "Century Gothic", Futura, sans-serif;
    height: 100vh;
    display: flex
}

ol, ul {
    padding-left: 30px;
}

.board-row:after {
    clear: both;
    content: "";
    display: table;
}

.status {
    margin-bottom: 10px;
}

.square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 36px;
    font-weight: bold;
    line-height: 34px;
    height: 50px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 50px;
}

.win {
    background: darkorange;
    color: white;
}

.square:focus {
    outline: none;
}

.kbd-navigation .square:focus {
    background: #ddd;
}

.game {
    display: flex;
    flex-direction: row;
}

.game-info {
    margin-left: 20px;
}

.page {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
}

.header {
    height: 40px;
    background-color: #efefef;
    text-align: center;
    padding: 10px;
}

.navigation {
    background-color: #fdfdfd;
    text-align: center;
    padding: 10px;
}

.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.footer {
    color: silver;
    background-color: #efefef;
    font-size: 11px;
    height: 30px;
    text-align: center;
    padding: 10px;
}
